<h1>Listing points</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Vx</th>
      <th>Vy</th>
      <th>Vz</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Alt</th>
      <th>Vg</th>
      <th>Hdg</th>
      <th>Source id</th>
      <th>Ident</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.time %></td>
        <td><%= point.x %></td>
        <td><%= point.y %></td>
        <td><%= point.z %></td>
        <td><%= point.vx %></td>
        <td><%= point.vy %></td>
        <td><%= point.vz %></td>
        <td><%= point.lat %></td>
        <td><%= point.lon %></td>
        <td><%= point.alt %></td>
        <td><%= point.vg %></td>
        <td><%= point.heading %></td>
        <td><%= point.id_source %></td>
        <td><%= point.ident %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
