<h1>Listing platforms</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Identifier</th>
      <th>Beacon ids</th>
      <th>Platform server id</th>
      <th>Sky tracks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%= platform.description %></td>
        <td><%= platform.ident %></td>
        <td><%= platform.beacon_ids %></td>
        <td><%= platform.platform_server_id %></td>
        <td><%= platform.sky_tracks %></td>
        <td><%= link_to 'Show', platform %></td>
        <td><%= link_to 'Edit', edit_platform_path(platform) %></td>
        <td><%= link_to 'Destroy', platform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platform', new_platform_path %>
