<%= form_for(@sky_track) do |f| %>
  <% if @sky_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sky_track.errors.count, "error") %> prohibited this sky_track from being saved:</h2>

      <ul>
      <% @sky_track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_source %><br>
    <%= f.text_field :id_source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
