<p id="notice"><%= notice %></p>

<p>
  <strong>Source id:</strong>
  <%= @sky_track.id_source %>
</p>

<p>
  <strong>No edit:</strong>
  <%= @sky_track.no_edit %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @sky_track.platform %>
</p>

<p>
  <strong>Points:</strong>
  <%= @sky_track.points %>
</p>

<%= link_to 'Edit', edit_sky_track_path(@sky_track) %> |
<%= link_to 'Back', sky_tracks_path %>
