<h1>Listing missions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Identifier</th>
      <th>Start</th>
      <th>Target launch</th>
      <th>Actual launch</th>
      <th>Target end</th>
      <th>Actual end</th>
      <th>Chase vehicles</th>
      <th>Platforms</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.description %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.ident %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.start %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.target_launch %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.actual_launch %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.target_end %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.actual_end %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%=  mission.chase_vehicles %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= mission.platforms %>&nbsp&nbsp</td>
        &nbsp&nbsp<td><%= link_to 'Show', mission %>&nbsp&nbsp&nbsp&nbsp</td>
        &nbsp&nbsp<td><%= link_to 'Edit', edit_mission_path(mission) %>&nbsp&nbsp&nbsp&nbsp</td>
        &nbsp&nbsp<td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp&nbsp&nbsp&nbsp</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
