<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @beacon_transmitter.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @beacon_transmitter.model %>
</p>

<p>
  <strong>Serial no:</strong>
  <%= @beacon_transmitter.serial_no %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @beacon_transmitter.driver %>
</p>

<p>
  <strong>Port:</strong>
  <%= @beacon_transmitter.port %>
</p>

<p>
  <strong>Call sign:</strong>
  <%= @beacon_transmitter.call_sign %>
</p>

<%= link_to 'Edit', edit_beacon_transmitter_path(@beacon_transmitter) %> |
<%= link_to 'Back', beacon_transmitters_path %>
